.main-content {
    /* display: flex; */
    flex: 1;
}

.
/* Header */
.main-header {
    display: flex;
    align-items: center;
    background-color: #ffa500; /* Màu cam */
    padding: 0 20px;
}

/* Menu */
.ant-menu {
    flex: 1;
    min-width: 0;
    background-color: transparent !important;
}

.ant-menu-dark .ant-menu-item a {
    color: white;
}

.ant-menu-dark .ant-menu-item-selected a {
    color: #ffcc00;
}

/* Content */
.main-content {
    padding: 0 48px;
    background-color: #f8f8f8;
}

.breadcrumb {
    margin: 16px 0;
}

/* Content container */
.content-container {
    min-height: 280px;
    padding: 24px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
.main-footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 20px;
}



