.main-layout {
    min-height: 100vh; /* Đảm bảo layout chiếm toàn bộ chiều cao màn hình */
    display: flex;
    flex-direction: column;
    background-color: #f5e7d6;
}

.main-content {
    flex: 1; /* Giúp phần content mở rộng để đẩy footer xuống */
    padding: 20px;
    background-color: #fff5e1;
}

.main-header {
    background-color: #feb002; /* Màu nền header */
}

.main-footer {
    background: #4a2e1b;
    color: white;
    text-align: center;
    padding: 10px 20px;
}
