.product-card {
    border: 1px solid black;
    height: 300px;
    width: 200px;
    background-color: #E3C5A8; /* Giúp sản phẩm không bị chìm vào background */
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa nội dung */
    justify-content: space-around; /* Phân bố nội dung */
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng đổ bóng nhẹ */
    border-radius: 16px;
}

.product-card img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Giữ ảnh không quá lớn */
    object-fit: cover; /* Giúp ảnh không bị méo */
    border-radius: 5px; /* Bo góc nhẹ */
}
