.cart-container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.cart-table th {
    color: #666;
    text-transform: uppercase;
}

.cart-item-img {
    width: 100px;
    height: 100px;
}

.cart-remove-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cart-totals {
    width: 48%;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 10px;
}

.cart-totals h2 {
    font-size: 18px;
    font-weight: bold;
}

.cart-total-details p {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-total {
    font-weight: bold;
    font-size: 18px;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.checkout-btn:hover {
    background: #e04b2c;
}

.promo-code {
    width: 48%;
}

.promo-input {
    display: flex;
    margin-top: 10px;
}

.promo-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.promo-input button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.promo-input button:hover {
    background: #333;
}

.cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Điều chỉnh theo chiều cao mong muốn */
    font-size: 18px;
    font-weight: bold;
    color: #666;
    text-align: center;
}
